body {
    margin: 0;
    padding: 0;
    font-family: Gotham;
}

a {
    text-decoration: none;
    color: #ffffff;
    margin: 10px;
    font-family: Gotham;
}

a:hover {
    text-decoration: underline;
    color: #000000;
}



header {
    background-color: #58696d;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    margin: 50px;
}

.logo {
    width: 150px;
    margin-left: 30px;
}

.nav {
    margin: 50px;
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
    height: calc(100vh - 160px);
    background-image: url("../img/Stoffrollen.png"); /* Pfad zu deinem Bild */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}


.product {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 50px;
}

.produktbild {
    height: 600px;
    margin-right: 20px;
}

.product-details {
    display: flex;
    flex-direction: column;
}

.size-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.size-buttons button {
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.purchase {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #58696d;
    color: white;
    border: none;
    cursor: pointer;
}



footer {
    background-color: #58696d;
    color: #ffffff;
    padding: 20px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
  }
  
  .footer-titel {
    margin: 0;
    font-size: 20px;
  }
  
  .footer-section a {
    color: white;
    margin: 5px 0;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
    color: #000000;
  }
